<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= _routePath('waibuMpa.virtual:/purecss/pure-min.css') %>" />
    <link rel="stylesheet" href="<%= _routePath('waibuMpa.asset:/css/default.css') %>" />
    <title><%= _t('internalServerError') %></title>
  </head>
  <body>
    <div class="container-center">
      <%= error.forceShowMessage ? error.message : _t('internalServerErrorDesc') %>
    </div>
  </body>
</html>
